.card-body {
	margin-bottom: 10px;
}

.card .btn.btn-primary {
	float: right;
	margin-top: 10px;
}

.btn-create-project {
	float: right;
}

.card .btn.btn-add-plan {
	float: left;
}

.plan-section {
	margin-bottom: 10px;
}